/*
@author ;- Muhammed alaraby
@Date ;- 21/10/19
@Info ;- website Sass variables
*/


// Core attributes
*{
    padding: 0;
    margin: 0;
}



// Fonts
$body-font: "Ubuntu", sans-serif;
$paragraph-font: "Dosis", sans-serif;
$header-font: "Roboto", sans-serif;
$list-font: "Lato", sans-serif;

// Colors
$primary-color: #fff;
$orange-color: #f88018;
$orange-medium:#b05d14;

$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$lightblue-color: #008ed6;

// Website Scales
$website-width: 1280px;
$main-font-size: 62.5%;
$medium-font-size: 1.8rem;
$large-font-size: 2rem;
