@import "config";

// Links
a {
  text-decoration: none;
  color: $primary-color;
}

// Lists
ul {
  list-style: none;
}

// Headings
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}

// Images
img {
  width: 100%;
}

/*[ Buttons]*/
.btn:visited,
.btn:link,
input[type="submit"] {
  display: inline-block;
  padding: 1rem 3rem;
  font-weight: 300;
  text-decoration: none;
  font-size: 1.8rem;
  border-radius: 20rem;
  text-align: center;
  border: 0.1rem solid $orange-color;
}

.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: $orange-color;
  color: $primary-color;
  border: 0.1rem solid $orange-color;
  -webkit-transition: background-color 0.5s, color 0.5s, border 0.5s;
  transition: background-color 0.5s, color 0.5s, border 0.5s;
}