/*
@author ;- Muhammed alaraby
@Date ;- 21/10/19
@Info ;- Main style sheet
*/
/*
@author ;- Muhammed alaraby
@Date ;- 21/10/19
@Info ;- website Sass variables
*/
html {
  font-size: 62.50%;
  background-color: #333;
  color: #fff;
  text-rendering: optimizeLegibility;
}

body {
  background: #333;
}
